* {
margin: 0;
padding: 0;
}

html {
font-family: Arial, sans-serif;
font-size: 14px;
}

/***** SECTIONS *****/

.site-section {
padding: 40px 20px;
max-width: 1500px;
margin: 0 auto;
}

/***** MODULES *****/

.article {
padding: 20px 0;

    &:after {
    content: '';
    display: block;
    clear: both;
    }

    .article__title {
    font-size: 28px;
    font-weight: 400;
    }

    .article__picture {
    max-width: 300px;
    float: left;
    margin: 0 20px 0 0;
    }
}